<ul id="ulStatistic"><h3>Estadísticas de los comentarios</h3>
  <li>Preguntas = <%=quizes%></li>
  <li>Comentarios totales = <%=numComments%></li>
  <li>Comentarios por pregunta = <%=mediaComments%></li>
  <li>Preguntas sin comentarios = <%=sinComment%></li>
  <li>Preguntas con comentarios = <%=conComment%></li>
</ul>
